<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="JT_Suite.Properties.Settings.JTDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\JTDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="EnableSqlDependency" value="true"/>
    <add key="ApplicationId" value="198454830489455"/>
    <add key="ApplicationUrl" value=""/>
    <add key="ApiKey" value=""/>
    <add key="ApplicationSecret" value="cc5191910d33fddc7359c2e040d971dc"/>
    <add key="ExtendedPermissions" value="public_profile, user_friends, email, 
         user_about_me, user_actions.video, user_actions.news, 
         user_actions.music, user_actions.fitness, user_actions.books, user_birthday, user_education_history,
         user_events, user_games_activity, user_hometown, user_likes, user_location, user_managed_groups,
          user_photos, user_posts, user_relationships, user_relationship_details, user_religion_politics,
          user_tagged_places, user_videos, user_website, user_work_history, read_custom_friendlists, read_insights,
          read_audience_network_insights, read_page_mailboxes, manage_pages, publish_pages, publish_actions, rsvp_event,
          pages_show_list, pages_manage_cta, ads_read, ads_management"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
